@import 'bootstrap/scss/bootstrap';

// Namespace all Set game styles to avoid conflicts with parent projects
.set-game {
  .flex-center {
    @extend .d-flex, .align-items-center, .justify-content-center;
  }

  // Game container background
  &.set-game-container {
    background: rgb(238, 238, 238);
    background: linear-gradient(140deg, rgba(238, 238, 238, 1) 0%, rgba(228, 228, 228, 0.9948354341736695) 50%, rgba(194, 194, 194, 1) 100%);
    background-size: cover;
  }

  .card-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-self: center;
  }
  /*

  CARD

  */
  &.animated .card {
    transition: all 0.5s;
  }
  .card {
    position: relative;
    background-color: #fff;
    height: 25vh;
    aspect-ratio: 2.5 / 3.5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card[data-selected='1'] {
    outline: 5px solid blue;
  }
  .card[data-faceup='0'] .card-front {
    display: none;
  }
  .card[data-faceup='1'] .card-back {
    display: none;
  }
  /*

  CARD SHAPES

  */
  .set-shape {
    --fill: none;
  }
  .set-shape[data-color='green'] {
    --color: green;
  }
  .set-shape[data-color='green'][data-fill='hatch'] {
    --fill: url('#green-hatch');
  }
  .set-shape[data-color='green'][data-fill='solid'] {
    --fill: green;
  }
  .set-shape[data-color='red'] {
    --color: red;
  }
  .set-shape[data-color='red'][data-fill='hatch'] {
    --fill: url('#red-hatch');
  }
  .set-shape[data-color='red'][data-fill='solid'] {
    --fill: red;
  }
  .set-shape[data-color='purple'] {
    --color: purple;
  }
  .set-shape[data-color='purple'][data-fill='hatch'] {
    --fill: url('#purple-hatch');
  }
  .set-shape[data-color='purple'][data-fill='solid'] {
    --fill: purple;
  }
  .card[data-count='1'] .card-front .set-shape:nth-child(1) ~ * {
    display: none;
  }
  .card[data-count='2'] .card-front .set-shape:nth-child(2) ~ * {
    display: none;
  }
  /*

  FRONT

  */
  .card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 65%;
  }
  /*

  BACK

  */
  .card-back {
    display: flex;
  }
  .card-back {
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .card-back::after {
    content: '';
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
  }
  /*

  PILE

  */
  .card-pile {
    position: relative;
  }
  .card-pile .card {
    position: absolute;
    left: 0;
    top: 0;
  }

  .hint-glow {
    animation: set-game-fadeGlow 1s ease-in-out forwards;
  }

  @keyframes set-game-fadeGlow {
    0% {
      outline: 5px solid rgba(0, 0, 255, 0);
    }
    50% {
      outline: 5px solid rgba(0, 0, 255, 1);
    }
    100% {
      outline: 5px solid rgba(0, 0, 255, 0);
    }
  }

  .earthquake {
    animation: set-game-shake 0.2s ease-in-out 0s 2;
    transform-origin: center;
  }

  @keyframes set-game-shake {
    0% {
      transform: translate(3px, -3px);
    }
    25% {
      transform: translate(-3px, 3px);
    }
    50% {
      transform: translate(2px, -2px);
    }
    75% {
      transform: translate(-1px, -1px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
}
